@model AKS.ViewModel.AdminVM.UserRoleVM
@{
    ViewBag.Title = "Admin - User List - Role Management";
}

<div class="row newTable">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.UserID)
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.ProfitCentreID)
        @Html.HiddenFor(m => m.URole)
        <div class="fixedElement">
            <div class="col-md-12">
                <div class="heading_text_btn mb-3 mt-4">
                    <div class="leftButton">
                        <button id="btnBack" type="button"
                                onclick="window.location.href='/Admin/Users';"
                                class="btn btn-white me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button id="btnSubmit" type="submit" disabled
                                class="btn btn-secondary me-2">
                            <i data-feather="check-circle"></i>
                            Save
                        </button>

                    </div>
                    <h2>Set Roles For @Model.UserName</h2>
                    <div class="rightButton">

                    </div>
                </div>
            </div>
        </div>
        <div id="HdrDIV" class="col-md-12 mb-4" style="vertical-align:central">
            <div class="card mb-4 mt-4" style="vertical-align:central">
                <div class="card-body approvalForm">
                    <div class="row d-flex align-items-center mb-4">
                        <label class="col-form-label col-md-1">
                            Role :
                        </label>
                        <div class="col-md-3">
                            <select id="cRoles"
                                    onchange="ValidateControl()"
                                    class="form-select content border-red myctrlw100 is-invalid"
                                    aria-label="Default select example">
                                <option selected value="">Select Role</option>
                                @if (Model.RoleList != null && Model.RoleList.Count > 0)
                                {
                                    foreach (var item in Model.RoleList)
                                    {
                                        <option value="@item.ID">@item.DisplayText</option>
                                    }
                                }
                            </select>
                        </div>
                        <label class="col-form-label col-md-1">
                            Profit Centre :
                        </label>
                        <div class="col-md-3">
                            <select id="cProfitCentre"
                                    onchange="ValidateControl()"
                                    class="form-select content border-red myctrlw100 is-invalid"
                                    aria-label="Default select example">
                                <option selected value="">Select Profit Centre</option>
                                @if (Model.ProfitCentreList != null && Model.ProfitCentreList.Count > 0)
                                {
                                    foreach (var item in Model.ProfitCentreList)
                                    {
                                        <option value="@item.PCID">@item.PCDesc</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Profit Centre</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UserRoleList != null && Model.UserRoleList.Count > 0)
                    {
                        foreach (var item in Model.UserRoleList)
                        {
                            <tr>
                                <td>@item.URole</td>
                                <td>@item.ProfitCentreName</td>
                                <td>
                                    <button type="button" data-role="@item.URole"
                                            data-pc="@item.ProfitCentreID"
                                            onclick="RemoveRole(this)"
                                            class="btn btn-outline-danger me-2">
                                        <i data-feather="trash"></i>
                                        Remove Role
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    }
</div>
@section headers{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/Admin/UserRoleJS.js"></script>
    <script>
         $(document).ready(function () {
            if ('@ViewBag.ErrMsg' != '') {
                Swal.fire({
                    title: 'Login failed',
                    text: "@ViewBag.ErrMsg",
                    icon: 'error',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                });
            };
            if ('@ViewBag.Msg' != '') {
                Swal.fire({
                    title: 'Confirmation',
                    text: "@ViewBag.Msg",
                    icon: 'success',
                    customClass: 'swal-wide',
                    buttons: {
                        confirm: 'Ok'
                    },
                    confirmButtonColor: '#2527a2',
                })
            };
            LogInStat();
        });
    </script>
}
