@model AKS.BOL.Inventory.ReturnDocDetails
<div id="HdrDIV" class="col-md-12 mb-4" style="vertical-align:central">
    <div class="card mb-4 mt-4" style="vertical-align:central">
        <div class="card-body approvalForm">
            <table style="width:100%">
                <tr>
                    <td style="width:30%">
                        Returned To :<br />
                        <b>@Model.PartyName</b><br />
                        @Model.PartyAddress<br />
                        @Model.PartyContactNo<br />
                        @Model.PartyEmailID<br />
                        GSTIN : @(string.IsNullOrEmpty(Model.GSTIN)?"Not Available": Model.GSTIN)
                    </td>
                    <td style="text-align:center">
                        <div style="margin:30px">
                            <img src="~/img/Logo100x100.png" alt="Aap Ki Sakhi - logo" class="img-fluid">
                        </div>
                    </td>
                    <td style="width:30%">
                        <table>
                            <tr>
                                <td>Document Number: </td>
                                <td style="padding-left:10px"><b>@Model.DocumentNumber</b></td>
                            </tr>
                            <tr>
                                <td>Document Date: </td>
                                <td style="padding-left:10px">@Model.EntryDate</td>
                            </tr>
                            <tr>
                                <td>Profit Centre: </td>
                                <td style="padding-left:10px">@Model.ProfitCentreDescription</td>
                            </tr>
                            <tr>
                                <td>Items Returned : </td>
                                <td style="padding-left:10px"><b>@Model.ItemCount</b></td>
                            </tr>                            
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="vertical-align:central">
        @*<div class="card-body">*@
        <div class="table-responsive">
            <table style="width:100%" class="table table-bordered btnalign">
                <thead>
                    <tr>
                        <th style="width:10%">SL</th>
                        <th style="width:15%">Item Code</th>
                        <th style="width:25%">Category</th>
                        <th>Description</th>
                        <th style="width:10%">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items != null && Model.Items.Count > 0)
                    {
                        int sl = 1;
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@sl</td>
                                <td>
                                    @item.UserRemarks<br />
                                    @item.ItemCode
                                </td>
                                <td>
                                    @item.ItemCatCode<br />
                                    @item.ItemCatDesc
                                </td>
                                <td>@item.ItemDescription</td>
                                <td>@item.Qty</td>
                            </tr>
                            sl = sl + 1;
                        }
                    }
                </tbody>
            </table>
        </div>
        @*</div>*@
    </div>
    <div class="card mb-4 mt-4" style="vertical-align:central">
        <div class="card-body approvalForm">

            <table style="width:100%">
                <tr>
                    <td style="width:30%">
                        Created BY :<br />
                        @Model.CreatedBy
                    </td>
                    <td></td>
                    @*<td style="width:30%">
                        Approved BY :<br />
                        @Model.ApproverName
                    </td>*@
                </tr>
            </table>
        </div>
    </div>
</div>

