@model AKS.BOL.Inventory.Stocks
@{
    Layout = null;
}
<div id="HdrDIV" class="col-md-12 mb-2" style="vertical-align:central">
    <div class="mb-1 mt-1" style="vertical-align:central">
        <div class="card-body approvalForm">
            <div class="w-100 text-center" style="font-size:larger"><b>Item Transaction Details As On @DateTime.Today.ToString("dd-MM-yyyy")</b></div>
            <div class="w-100 text-center">For @Model.HdrForItemTran.ItemCatLongText</div>
            <div class="w-100 text-center">Profit Centre :  @Model.ProfitCentreDesc</div>
        </div>
    </div>
    <div style="vertical-align:central">
        @*<div class="card-body">*@
        <div class="table-responsive">
            <table style="width:100%" class="table table-bordered btnalign">
                <thead>
                    <tr style="text-align:center">
                        <th style="width:15%">Document Number</th>
                        <th style="width:15%">Date</th>
                        <th>Party</th>
                        <th style="width:10%">Type</th>
                        <th style="width:10%">Available Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ItemTranList != null && Model.DtlList != null && Model.DtlList.Count > 0)
                    {
                        foreach (var cat in Model.DtlList.OrderBy(o => o.UserRemarks).ToList())
                        {
                        <tr style="font-size:smaller">
                            <td colspan="4" style="background-color: #DEF9E6"><b>@cat.UserRemarks : @cat.ItemCode </b> - @cat.ItemDescription</td>
                            <td style="background-color: #A5F5BC; text-align: center; text-size-adjust: 150%"><b>@cat.ItemQty</b></td>
                        </tr>
                            foreach (var item in Model.ItemTranList.Where(o => o.ItemCode == cat.ItemCode).OrderBy(o=>o.UDocDate).ToList())
                            {
                                <tr>
                                    <td>@item.UDocNumber</td>
                                    <td>@item.UDocDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.Vendorid / @item.VendorName</td>
                                    <td style="text-align:center">@(item.TranTag=="PUR"?"In":"Out") </td>
                                    <td style="text-align:center">@item.ItemQty</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        @*</div>*@
    </div>

</div>




